<%- include('layout/header'); %>
    
    <!-- main-area -->
    <main>

        <!-- search-popup -->
        <div class="modal fade bs-example-modal-lg search-bg popup1" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content search-popup">
                    <div class="text-center">
                        <a href="#" class="close2" data-dismiss="modal" aria-label="Close">× close</a>
                    </div>
                    <div class="row search-outer">
                        <div class="col-md-11"><input type="text" placeholder="Search for products..." /></div>
                        <div class="col-md-1 text-right"><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /search-popup -->
        <!-- slider-area -->
        <section id="home" class="slider-area slider-four fix p-relative">

            <div class="slider-active">
                <div class="single-slider slider-bg d-flex align-items-center" style="background: url(img/slider/slider_img_bg.png) no-repeat;background-size: cover; background-position: center center;">
                    <div class="container">
                        <div class="row justify-content-center pt-50">
                            <div class="col-lg-6">
                                <div class="slider-content s-slider-content mt-200">
                                    <h5 data-animation="fadeInDown" data-delay=".4s">Xtreme BMS LLC</h5>
                                    <h2 data-animation="fadeInUp" data-delay=".4s">Get Your Best Glow With Us</h2>
                                    <p data-animation="fadeInUp" data-delay=".6s">Start your year fulfilling your resolutions with Coolsculpting® ❄️ . Shape your body without surgery or downtime.<br> <br> Xtreme BMS is a place where you can treat your body, mind and spirit with skin rejuvenation treatments, non-invasive weight loss treatments, hair loss treatments and alternative medicine to improve your beauty, health and body. We also offer psychological and spiritual counseling to improve your peace of mind because you deserve to live to the extreme!.</p>

                                    <!-- <div class="subricbe" data-animation="fadeInDown" data-delay=".4s">
                                        <form action="news-mail.php" method="post" class="contact-form ">
                                            <input type="text" id="email2" name="email2" class="header-input" placeholder="Your Email Address..." required>
                                            <button class="btn header-btn"> Subscribe Now </button>
                                        </form>
                                    </div> -->

                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="slider-img" data-animation="fadeInUp" data-delay=".4s">
                                    <img src="img/slider/slider_img05.png" alt="slider_img05">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>


        </section>
        <!-- slider-area-end -->
        <!-- about-area -->

        <!-- <section id="about" class="about-area about-p pt-120 pb-120 p-relative">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12 col-sm-12 pr-30">
                        <div class="s-about-img p-relative  wow fadeInLeft  animated" data-animation="fadeInLeft" data-delay=".4s"> -->
                            <!-- <img src="img/features/about_img.png" alt="img"> -->
                        <!-- </div>

                    </div> -->

                    <!-- <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="about-content s-about-content  wow fadeInRight  animated" data-animation="fadeInRight" data-delay=".4s">
                            <div class="about-title second-atitle pb-25">
                                <h2>What We do & Our Impact</h2>
                                <div class="line mb-30"> <img src="img/bg/circle_right.png" alt="circle_right"></div> -->
                                <!-- <div class="title-strong">We Have <span>5 Years</span> Of Experience</div> -->
                            <!-- </div>

                            <p>Over the past 5 years, my team and i have made huge impact in the physcal growth and glow of our customers, and we have proven to be nothing less than perfect and satisfactory.</p>
                            <p>We make use of the latest technological advancement to get rid of and physical dents on the human skin that hender glow.</p> -->
                            <!-- <div class="about-content3">
                                <div class="row">
                                    <div class="col-md-6">
                                        <ul class="green">
                                            <li>Vivamus scelerisque dolor.</li>
                                            <li>Morbi hendrerit sit metus.</li>
                                        </ul>
                                    </div>
                                    <div class="col-md-6">
                                        <ul class="green">
                                            <li>In ha habitasse dictumst.</li>
                                            <li>Maecenas dictum mattis eros.</li>

                                        </ul>
                                    </div>
                                </div>


                            </div> -->

                            <!-- <div class="slider-btn mt-10">
                                <a href="/about" class="btn ss-btn" data-animation="fadeInRight" data-delay=".8s"><i class="fas fa-angle-right btn-icon mr-1"></i> Learn More</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div> -->
        <!-- </section> -->
        <!-- about-area-end -->
        <!-- services-area -->





        <section class="testimonial-area pt-120 pb-120 p-relative fix" style="background-color: #fceb8925;">
            <!-- <div class="test-an-01"><img src="img/bg/test-an-01.png" alt="test-an-01"></div>
            <div class="test-an-02"><img src="img/bg/test-an-02.png" alt="test-an-02"></div> -->
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title center-align mb-50 text-center">
                            <h2>
                                What We Do
                            </h2>
                            <span class="line5"> <img src="img/bg/circle_left.png" alt="circle_left"></span>
                        </div>

                    </div>

                    <div class="col-lg-12">
                        <div class="testimonial-active2">
                            <div class="single-testimonial text-center">
                                <div class="qt-img wow fadeInDown  animated" data-delay=".4s">
                                    <img src="img/icon/pv-icon1.png" alt="icon01">
                                </div>
                                <div class="services-content2">
                                    <h5><a href="services-detail.html">HydraFacial</a> <span class="line5"> </span></h5>
                                    <p>
                                        HydraFacial help to improve overall skin texture, tone, and appearance. This is due to the deep exfoliation that cleans your pores, removing debris and allowing for better penetration of face serums tailored to your skin type. ( if you can add a photo of each procedure will be great if you can't its fine).</p>
                                </div>

                            </div>
                            <div class="single-testimonial text-center">
                                <div class="qt-img wow fadeInDown  animated" data-delay=".4s">
                                    <img src="img/icon/pv-icon2.png" alt="icon01">
                                </div>
                                <div class="services-content2">
                                    <h5><a href="services-detail.html">Microneedling with PRP</a> <span class="line5"> </span></h5>
                                    <p>Microneedling stimulates new collagen production.Traditional microneedling is used to treat everything from age spots and wrinkles to scarring and certain forms of hyperpigmentation. PRP may boost these effects and help you achieve your desired results faster.</p>
                                </div>

                            </div>
                            
                            <div class="single-testimonial text-center">
                                <div class="qt-img wow fadeInDown  animated" data-delay=".4s">
                                    <img src="img/icon/pv-icon1.png" alt="icon01">
                                </div>
                                <div class="services-content2">
                                    <h5><a href="services-detail.html">Microneedling with Hyaluronic Acid</a> <span class="line5"> </span></h5>
                                    <p>Micro-needling is used for wrinkle reduction, texture and tone improvement, and softer, younger looking skin. Microneedling with Hyaluronic Acid is used to smooth wrinkles, fill fine lines, reduce the size of pores and minimize stretch marks. The end result is fuller, firmer looking skin that is hydrated and youthful.</p>
                                </div>
                            </div>
                            <div class="single-testimonial text-center">
                                <div class="qt-img wow fadeInDown  animated" data-delay=".4s">
                                    <img src="img/icon/pv-icon2.png" alt="icon01">
                                </div>
                                <div class="services-content2">
                                    <h5><a href="services-detail.html">Mesotherapy with Elastin</a> <span class="line5"> </span></h5>
                                    <p>A procedure involving tiny injections into the surface of the skin. The injections contain a combination of vitamins, minerals, and other components naturally found in the skin, such as hyaluronic acid that diminishes with age. Mesotherapy stimulates collagen production, smooths wrinkles and fine lines, improves symmetry of the face and improves the texture of skin.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


<!-- 

        <section id="services" class="services-area pt-120 pb-90 fix" style=" background-image: url(img/bg/proved-bg.png); background-size: cover; background-repeat: no-repeat; background-color: #fceb8925;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title center-align mb-50 text-center">
                            <h2>
                                What We Do
                            </h2>
                            <span class="line5"> <img src="img/bg/circle_left.png" alt="circle_left"></span>
                        </div>

                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-12">

                        <div class="services-box text-center wow fadeInUp  animated" data-delay=".4s">
                            <div class="services-icon">
                                <img src="img/icon/pv-icon1.png" alt="icon01">
                            </div>
                            <div class="services-content2">
                                <h5><a href="services-detail.html">Magnet Treatment and Pranic Healing</a> <span class="line5"> <img src="img/bg/bx-line.png"  alt="circle_left"></span></h5>
                                <p>Sports massage is a type of massage therapy that is specifically designed for athletes and individuals who are physically active. It is used to help prevent injuries, prepare the body for athletic activity, and aid in the recovery process after exercise or competition.</p>
                            </div>
                        </div>


                    </div>
                    <div class="col-lg-4 col-md-12">

                        <div class="services-box text-center wow fadeInDown  animated" data-delay=".5s">
                            <div class="services-icon">
                                <img src="img/icon/pv-icon2.png" alt="icon01">
                            </div>
                            <div class="services-content2">
                                <h5><a href="services-detail.html">Cosmetic Therapy</a> <span class="line5"> <img src="img/bg/bx-line.png"  alt="circle_left"></span></h5>
                                <p>Hot stone massage can have several benefits, including increased relaxation, improved circulation, and decreased muscle tension. It can also help to reduce stress and anxiety, and may be helpful for individuals with chronic pain or muscle injuries</p>
                            </div>
                        </div>


                    </div>
                    <div class="col-lg-4 col-md-12">

                        <div class="services-box text-center wow fadeInUp  animated" data-delay=".4s">
                            <div class="services-icon">
                                <img src="img/icon/pv-icon3.png" alt="icon01">
                            </div>
                            <div class="services-content2">
                                <h5><a href="services-detail.html">Steam Cells</a> <span class="line5"> <img src="img/bg/bx-line.png"  alt="circle_left"></span></h5>
                                <p>Facial therapy refers to a range of treatments that are designed to improve the health and appearance of the skin on the face. Some common types of facial therapy include facials, microdermabrasion, chemical peels, and LED light therapy</p>

                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </section> -->
        <!-- services-area-end -->

        <!-- pricing-area -->
        <!-- <section id="pricing" class="pricing-area pt-120 pb-90">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title center-align mb-100 text-center">
                            <h2>
                                Our Pricing
                            </h2>
                            <span class="line5"> <img src="img/bg/circle_left.png" alt="circle_left"></span>
                        </div>

                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-12">
                        <div class="pricing-box pricing-box2 text-center mb-60  wow fadeInLeft  animated">
                            <div class="pricing-head">
                                <div class="icon mb-30">
                                    <img src="img/icon/pr-icon1.png" alt="circle_right">
                                </div>
                                <h2>Regular Member</h2>
                                <hr>
                            </div>

                            <div class="pricing-body mt-30 text-center">
                                <ul>
                                    <li>Face masks</li>
                                    <li>Geothermal Spa</li>
                                    <li>Aroma therapy</li>
                                    <li>Sauna relax</li>
                                    <li>Aroma therapy</li>
                                </ul>
                            </div>
                            <div class="price-count mb-30">
                                <h2><sub>$</sub>49 <strong>/ Monthly</strong></h2>
                            </div>

                            <div class="pricing-btn">
                                <a href="shop-details.html" class="btn ss-btn"><i class="fas fa-angle-right btn-icon mr-1"></i> Purchase Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="pricing-box pricing-box2 text-center mb-60  wow fadeInDown  animated">
                            <div class="pricing-head">
                                <div class="icon mb-30">
                                    <img src="img/icon/pr-icon2.png" alt="circle_right">
                                </div>
                                <h2>VIP Member</h2>
                                <hr>
                            </div>

                            <div class="pricing-body mt-30 text-center">
                                <ul>
                                    <li>Aroma therapy</li>
                                    <li>Face masks</li>
                                    <li>Geothermal Spa</li>
                                    <li>Sauna relax</li>
                                    <li>Aroma therapy</li>
                                </ul>
                            </div>
                            <div class="price-count mb-30">
                                <h2><sub>$</sub>79 <strong>/ Monthly</strong></h2>
                            </div>

                            <div class="pricing-btn">
                                <a href="shop-details.html" class="btn ss-btn"><i class="fas fa-angle-right btn-icon mr-1"></i> Purchase Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="pricing-box pricing-box2 text-center mb-60  wow fadeInRight  animated">
                            <div class="pricing-head">
                                <div class="icon mb-30">
                                    <img src="img/icon/pr-icon3.png" alt="circle_right">
                                </div>
                                <h2>Premium Member</h2>
                                <hr>
                            </div>

                            <div class="pricing-body mt-30 text-center">
                                <ul>
                                    <li>Geothermal Spa</li>
                                    <li>Aroma therapy</li>
                                    <li>Face masks</li>
                                    <li>Sauna relax</li>
                                    <li>Aroma therapy</li>
                                </ul>
                            </div>
                            <div class="price-count mb-30">
                                <h2><sub>$</sub>99 <strong>/ Monthly</strong></h2>
                            </div>

                            <div class="pricing-btn">
                                <a href="shop-details.html" class="btn ss-btn"><i class="fas fa-angle-right btn-icon mr-1"></i> Purchase Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
        <!-- pricing-area-end -->

        <!-- contact-area -->
        <section id="contact" class="contact-area contact-bg pt-120 pb-120 p-relative fix" style="background-image:url(img/bg/contact-bg.png)">
            <div class="contact-bg-an-01"><img src="img/bg/contact-bg-an-01.png" alt="contact-bg-an-01"></div>
            <div class="contact-bg-an-02"><img src="img/bg/contact-bg-an-02.png" alt="contact-bg-an-01"></div>
            <div class="container">

                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="contact-bg02 wow fadeInLeft  animated">
                            <div class="section-title mb-30">
                                <h2>Make Appointment</h2>
                                <span class="line5"> <img src="img/bg/circle_right.png" alt="circle_left"></span>
                            </div>
                            <form action="/sendMail" method="post" class="contact-form ">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="contact-field p-relative c-name mb-20">
                                            <input type="text" id="firstn" name="firstn" placeholder="First Name" required>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="contact-field p-relative c-email mb-20">
                                            <input type="text" id="lastn" name="lastn" placeholder="Last Name" required>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="contact-field p-relative c-subject mb-20">
                                            <input type="text" id="email" name="email" placeholder="Eamil" required>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="contact-field p-relative c-subject mb-20">
                                            <input type="text" id="phone" name="phone" placeholder="Phone No." required>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="contact-field p-relative c-option mb-20">
                                            <select name="services" id="sr">
                                      <option value="HydraFacial">HydraFacial</option>
                                      <option value="Microneedling with PRP">Microneedling with PRP</option>
                                      <option value="Microneedling with Hyaluronic Acid">Microneedling with Hyaluronic Acid</option>
                                      <option value="Mesotherapy with Elastin">Mesotherapy with Elastin</option>
                                    </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="contact-field p-relative c-message mb-45">
                                            <textarea name="message" id="message" cols="30" rows="10" placeholder="Write comments"></textarea>
                                        </div>
                                        <div class="slider-btn">
                                            <button type="submit" class="btn ss-btn active" data-animation="fadeInRight" data-delay=".8s"><i class="fas fa-angle-right btn-icon mr-1"></i> Submint Now</button>
                                        </div>
                                    </div>
                                </div>

                            </form>

                        </div>

                    </div>
                    <div class="col-lg-6">
                        <div class="about-content s-about-content wow fadeInRight  animated pl-30">
                            <div class="about-title second-atitle pb-20">

                                <h2>
                                    Book Your Appointment For Relaxation
                                </h2>
                                <span class="line"> <img src="img/bg/circle_right.png" alt="circle_right"></span>
                            </div>
                            
                            <p>We would like to invite you to book an appointment for our relaxation services, designed to help you unwind and de-stress from your busy life. <br> Our team of experienced therapists will provide you with a luxurious and soothing experience that will leave you feeling refreshed and rejuvenated.</p>
                            <p>To book an appointment kindly fill the form and submit.</p>

                            <p class="mt-30"><img src="img/bg/signature.png" alt="signature"></p>


                        </div>
                    </div>

                </div>

            </div>

        </section>
        <!-- contact-area-end -->

        <!-- client-area -->
        <section id="client" class="about-area about-p pt-120 pb-120 p-relative">
            <div class="container">
                <div class="row align-items-center">

                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="about-content s-about-content  wow fadeInUp  animated">
                            <div class="about-title second-atitle pb-40">
                                <h2>What We Have Achive In This Passed Years</h2>
                                <span class="line"> <img src="img/bg/circle_right.png" alt="circle_right"></span>
                                <p>Over the past five years, the beauty industry has experienced significant growth and innovation, driven by advancements in technology, changes in consumer behavior, and new trends in fashion and beauty.</p>
                                
                            </div>
                            <div class="row ab-coutner text-center">
                                <div class="col-lg-6 col-md-6">
                                    <div class="single-counter" style="background-image: url(img/bg/count-bx-bg.png); background-repeat: no-repeat;background-position: center bottom;">
                                        <div class="counter p-relative">
                                            <span class="count">4871</span><small>+</small>
                                        </div>
                                        <p>Happy Clients</p>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="single-counter mt-30" style="background-image: url(img/bg/count-bx-bg.png); background-repeat: no-repeat;background-position: center bottom;">
                                        <div class="counter p-relative">
                                            <span class="count">8795</span><small>+</small>
                                        </div>
                                        <p>Clients Relaxed</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 pr-30">
                        <div class="s-about-img p-relative wow fadeInDown  animated">
                            <img src="img/bg/client-img01.png" alt="img">
                            <div class="clinet-abimg"><img src="img/bg/happe-client-bg.png" alt="img"> </div>
                        </div>

                    </div>

                </div>
            </div>
        </section>
        <!-- client-area-end -->

        <!-- testimonial-area -->
        <!-- <section class="testimonial-area pt-120 pb-120 p-relative fix" style="background-color: #fceb8925;">
            <div class="test-an-01"><img src="img/bg/test-an-01.png" alt="test-an-01"></div>
            <div class="test-an-02"><img src="img/bg/test-an-02.png" alt="test-an-02"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title center-align mb-50 text-center">

                            <h2>
                                What Our Clients Says
                            </h2>
                            <span class="line5"> <img src="img/bg/circle_left.png" alt="circle_left"></span>

                        </div>

                    </div>

                    <div class="col-lg-12">
                        <div class="testimonial-active2">
                            <div class="single-testimonial text-center">
                                <div class="qt-img wow fadeInDown  animated" data-delay=".4s">
                                    <img src="img/testimonial/qt-icon.png" alt="img">
                                </div>
                                <p class=" wow fadeInUp  animated">Donec vel dictum magna, sed vehicula ipsum. Phasellus a aliquet erat. Duis luctus quis nisi vel consectetur. Ut ac neque felis. Vivamus scelerisque pretium nisi eget mollis. Morbi suscipit accumsan elit, at pellentesque
                                    ante placerat vitae. Nulla molestie tortor massa, in lacinia ex dignissim et. Nullam maximus, turpis sit amet laoreet mollis, elit lectus rutrum purus, nec accumsan felis sapien vitae leo. Mauris id tincidunt nibh,
                                    sit amet mattis felis.</p>
                                <div class="test-line">
                                    <img src="img/bg/test-line.png" alt="test-line">
                                </div>
                                <div class="testi-author">
                                    <div class="ta-info">
                                        <h6>Joseph Austin</h6>
                                        <span>Co-Leader</span>
                                    </div>
                                </div>

                            </div>
                            <div class="single-testimonial text-center">
                                <div class="qt-img wow fadeInDown  animated" data-delay=".4s">
                                    <img src="img/testimonial/qt-icon.png" alt="img">
                                </div>
                                <p class=" wow fadeInUp  animated">Donec vel dictum magna, sed vehicula ipsum. Phasellus a aliquet erat. Duis luctus quis nisi vel consectetur. Ut ac neque felis. Vivamus scelerisque pretium nisi eget mollis. Morbi suscipit accumsan elit, at pellentesque
                                    ante placerat vitae. Nulla molestie tortor massa, in lacinia ex dignissim et. Nullam maximus, turpis sit amet laoreet mollis, elit lectus rutrum purus, nec accumsan felis sapien vitae leo. Mauris id tincidunt nibh,
                                    sit amet mattis felis.</p>
                                <div class="test-line">
                                    <img src="img/bg/test-line.png" alt="test-line">
                                </div>
                                <div class="testi-author">
                                    <div class="ta-info">
                                        <h6>Margie R. Robinson</h6>
                                        <span>Web Developer</span>
                                    </div>
                                </div>

                            </div>
                            <div class="single-testimonial text-center">
                                <div class="qt-img wow fadeInDown  animated" data-delay=".4s">
                                    <img src="img/testimonial/qt-icon.png" alt="img">
                                </div>
                                <p class=" wow fadeInUp  animated">Donec vel dictum magna, sed vehicula ipsum. Phasellus a aliquet erat. Duis luctus quis nisi vel consectetur. Ut ac neque felis. Vivamus scelerisque pretium nisi eget mollis. Morbi suscipit accumsan elit, at pellentesque
                                    ante placerat vitae. Nulla molestie tortor massa, in lacinia ex dignissim et. Nullam maximus, turpis sit amet laoreet mollis, elit lectus rutrum purus, nec accumsan felis sapien vitae leo. Mauris id tincidunt nibh,
                                    sit amet mattis felis.</p>
                                <div class="test-line">
                                    <img src="img/bg/test-line.png" alt="test-line">
                                </div>
                                <div class="testi-author">
                                    <div class="ta-info">
                                        <h6>Margie R. Robinson</h6>
                                        <span>Web Developer</span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
        <!-- testimonial-area-end -->

        <!-- blog-area -->
        <section id="blog" class="blog-area  p-relative pt-120 pb-90 fix">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-12">
                        <div class="section-title center-align mb-50 text-center">
                            <h2>
                                Video Treatments
                            </h2>
                            <span class="line3"> <img src="img/bg/circle_left.png" alt="circle_left"></span>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-12">
                        <div class="single-post2 mb-30  wow fadeInDown  animated">
                            <div class="blog-thumb2">
                                <iframe class="edit" src="https://www.facebook.com/plugins/video.php?&href=https%3A%2F%2Fweb.facebook.com%2Fxtremebmsllc%2Fvideos%2F3428518034059608%2F&show_text=false&" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
                            </div>
                            <div class="blog-content2">
                                <div class="b-meta">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">

                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12">
                                        <p>It's time to renew ourselves!! ️✨Renew our beauty, our health, our mind ♀️ 💆🏼. At Xtreme BMS we have specials for you</p>
                                    </div>
                                </div>
                                <!-- <div class="b-meta">
                                    <div class="row align-items-center">
                                        <div class="col-lg-8 col-md-8">
                                            <div class="adim-box">
                                                <div class="c-icon"><img src="img/blog/admin-img.png" alt="c-Icon.png"></div>
                                                <div class="text">
                                                    Mixlax M.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4">
                                            <div class="blog-btn"><a href="#">Read More</a></div>
                                        </div>
                                    </div>
                                </div> -->
                            </div>


                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="single-post2 mb-30  wow fadeInUp  animated">
                            <div class="blog-thumb2">
                                <iframe class="edit" src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fweb.facebook.com%2Fxtremebmsllc%2Fvideos%2F755140492728656%2F&show_text=false&width=262&t=0" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
                            </div>
                            <div class="blog-content2">
                                <div class="b-meta">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <p>Forget anxiety with our Wednesday Offer ✨📢 ONLY TODAY Wednesday, Auriculotherapy session to combat anxiety ♀️💆🏻 💆🏼 and its symptoms, ONLY $20 DLLS.</p>
                                    </div>
                                </div>

                                <!-- <div class="b-meta">
                                    <div class="row align-items-center">
                                        <div class="col-lg-8 col-md-8">
                                            <div class="adim-box">
                                                <div class="c-icon"><img src="img/blog/admin-img.png" alt="c-Icon.png"></div>
                                                <div class="text">
                                                    Mixlax M.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4">
                                            <div class="blog-btn"><a href="#">Read More</a></div>
                                        </div>
                                    </div>
                                </div> -->
                            </div>


                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="single-post2 mb-30 wow fadeInDown  animated">
                            <div class="blog-thumb2">
                                <iframe class="edit" src="https://www.facebook.com/plugins/video.php?height=476&href=https%3A%2F%2Fweb.facebook.com%2Fxtremebmsllc%2Fvideos%2F181237568055793%2F&show_text=false&width=267&t=0" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
                            </div>
                            <div class="blog-content2">
                                <div class="b-meta">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <p>Subcutaneous elastin treatment 💉 + microneedling with elastin to show younger and more radiant skin. ✨</p>
                                    </div>
                                </div>
                                <!-- <div class="b-meta">
                                    <div class="row align-items-center">
                                        <div class="col-lg-8 col-md-8">
                                            <div class="adim-box">
                                                <div class="c-icon"><img src="img/blog/admin-img.png" alt="c-Icon.png"></div>
                                                <div class="text">
                                                    Mixlax M.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4">
                                            <div class="blog-btn"><a href="#">Read More</a></div>
                                        </div>
                                    </div>
                                </div> -->
                            </div>


                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- blog-area-end -->

        <!-- brand-area -->
        <!-- <div class="brand-area pt-60 pb-60" style="background:url(img/bg/client-bg-log.png);background-repeat: no-repeat;background-size: cover;">
            <div class="container">
                <div class="row brand-active">
                    <div class="col-xl-3">
                        <div class="single-brand">
                            <img src="img/brand/c-logo1.png" alt="img">
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="single-brand">
                            <img src="img/brand/c-logo2.png" alt="img">
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="single-brand">
                            <img src="img/brand/c-logo3.png" alt="img">
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="single-brand">
                            <img src="img/brand/c-logo4.png" alt="img">
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="single-brand">
                            <img src="img/brand/c-logo4.png" alt="img">
                        </div>
                    </div>

                </div>
            </div>
        </div> -->
        <!-- brand-area-end -->


    </main>
    <!-- main-area-end -->
    
<%- include('layout/footer'); %>